@model IEnumerable<ManagerSales.Web.GUI.Models.ManagerSalesModels.Product>
@{
    Layout = null;
}
@using GridMvc.Html


@if (User.IsInRole("Admin"))
{
    <button id="add" type="button" class="btn btn-default">
        <span class="glyphicon glyphicon-plus"></span><a href="@Url.Action("AddProduct","Admin")">Добавить</a>
    </button>
    @helper CustomRenderingOfColumn(ManagerSales.Web.GUI.Models.ManagerSalesModels.Product product)
    {
        <div class="btn-group" style="margin: 0;">
            <a class="btn btn-default" href="/Admin/EditManager?id=@product.Id">Редактировать</a>
            <a class="btn btn-default" href="/Admin/RemoveManager?id=@product.Id">Удалить</a>
        </div>
}

    @Html.Grid(Model).Named("grid").Columns(columns =>
    {
        columns.Add(c => c.Name).Titled("Name").Filterable(true);
        columns.Add()
            .Titled("Action")
            .Encoded(false)
            .Sanitized(false)
            .Filterable(false)
            .RenderValueAs(o => CustomRenderingOfColumn(o));

    }).Sortable(true).WithPaging(10)
}
else
{
    @Html.Grid(Model).Named("grid").Columns(columns =>
    {
        columns.Add(c => c.Name).Titled("Name").Filterable(true);

    }).Sortable(true).WithPaging(10)
}


