@model ManagerSales.Web.GUI.Models.ManagerSalesModels.Customer

@{
    ViewBag.Title = "Add Customer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="//code.jquery.com/jquery-1.9.1.js"></script>
<script src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.min.js"></script>
<script src="~/Scripts/validate.config.js"></script>

@using (Html.BeginForm("AddCustomer", "Admin", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { id = "customer-form", @class = "form-horizontal", role = "form" }))
{
    <h2>Add Customer</h2>
    <div class="form-group">
        <h4 style="color: red">@Html.Raw(ViewBag.Exception)</h4>
        @Html.LabelFor(m => m.Name, new { @class = "sr-only" })
        <div class="col-sm-10">
            @Html.TextBoxFor(m => m.Name, new { @id = "Name", @class = "form-control", @placeholder = "Name" })
            @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">Add</button>
        </div>
    </div>
}