@model IEnumerable<ManagerSales.Web.GUI.Models.ManagerSalesModels.Sale>
@{
    ViewBag.Title = "Home Page";
}
@using GridMvc.Html

<h1>Продажи</h1>

<div id="table">
    @{
        Html.RenderAction("SaleGrid","ManagerSales");
    }
</div>
<script>
    $(document).ready(function () {
        $("#refresh").click(function () {
            $.ajax({
                url: '@Url.Action("SaleGrid","ManagerSales")',
                type: 'Get',
                success: function (response) {
                    $("#table").replaceWith(response);
                },
                async: true,
                processData: false
            });
        });
    });
</script>
