@model IEnumerable<ManagerSales.Web.GUI.Models.Sale>
@{
    ViewBag.Title = "Home Page";
}
@using GridMvc.Html

<div class="btn-group">
    <button type="button" class="btn btn-default">
        <span class="glyphicon glyphicon-plus"></span> Добавить
    </button>
    <button id="refresh" type="button" class="btn btn-default">
        <span class="glyphicon glyphicon-refresh"></span> Обновить
    </button>
</div>

<h1>Продажи</h1>
<div id="table">
    @Html.Grid(Model).Named("grid").Columns(columns =>
    {
        columns.Add(c => c.Id).Titled("Id").Filterable(true);
        columns.Add(c => c.Date).Titled("Date").Filterable(true);
        columns.Add(c => c.ManagerName).Titled("Manager").Filterable(true);
        columns.Add(c => c.CustomerName).Titled("Customer").Filterable(true);
        columns.Add(c => c.ProductName).Titled("Product").Filterable(true);
        columns.Add(c => c.Summ).Titled("Summ").Filterable(true);
    }).Sortable(true).WithPaging(10)
</div>
<script>
    $(document).ready(function () {
        $("#refresh").click(function () {
            $.ajax({
                url: '@Url.Action("Index","Sale")',
                type: 'Get',
                success: function (response) {
                    $("#table").replaceWith(response);
                },
                async: true,
                processData: false
            });
        });
    });
</script>
