@model IEnumerable<ManagerSales.Web.GUI.Models.ManagerSalesModels.Manager>

@{
    ViewBag.Title = "Manager Grid";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Managers</h1>

<div id="table">

    @{
        Html.RenderAction("ManagerGrid", "ManagerSales");
    }
</div>
<script>
    $(document).ready(function () {
        $("#refresh").click(function () {
            $.ajax({
                url: '@Url.Action("ManagerGrid","ManagerSales")',
                type: 'Get',
                success: function (response) {
                    $("#table").replaceWith(response);
                },
                async: true,
                processData: false
            });
        });
    });
</script>
