@model IEnumerable<ManagerSales.Web.GUI.Models.ManagerSalesModels.Product>
@{
    ViewBag.Title = "Product Grid";
}

<h1>Products</h1>

<div id="table" style="width: 40%;">
    @{
        Html.RenderAction("ManagerGrid", "ManagerSales");
    }
</div>
<script>
    $(document).ready(function () {
        $("#refresh").click(function () {
            $.ajax({
                url: '@Url.Action("ProductGrid","ManagerSales")',
                type: 'Get',
                success: function (response) {
                    $("#table").replaceWith(response);
                },
                async: true,
                processData: false
            });
        });
    });
</script>
