@model ManagerSales.Web.GUI.Models.ManagerSalesModels.Manager

@{
    ViewBag.Title = "Edit Manager";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="//code.jquery.com/jquery-1.9.1.js"></script>
<script src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.min.js"></script>
<script src="~/Scripts/validate.config.js"></script>

@using (Html.BeginForm("EditManager", "Admin", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { id = "manager-form", @class = "form-horizontal", role = "form" }))
{
    <h2>Edit Manager</h2>
    <div class="form-group">
        @Html.LabelFor(m => m.LastName, new { @class = "sr-only" })
        <div class="col-sm-10">
            @Html.DropDownListFor(m => m.Id, (IEnumerable<SelectListItem>)ViewBag.Customers, new { @id = "customer", @class = "form-control" })
            @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">Submit</button>
        </div>
    </div>
}
